<div class="container">
<div class="row">
    <div class="col-12">
        <div id="events" class="event-list owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item cloned" style="width: 374.5px;">
                        <div class="event-item">
                            <div class="event-schedule">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-calendar event-icon">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="event-day">12</span>
                                <div class="event-month-time">
                                    <span>nov</span>
                                    <span>13:00</span>
                                </div>
                            </div>
                            <a href="#" class="event-title">Conference meeting</a>
                            <p class="event-content">ERP system conference in Canada team</p>
                            <ul class="event-participants">
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Tommy C</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-primary" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Alison G</b>">
                                    <span class="event-user-inital text-primary">AG</span>
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Brad P</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Saun K</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-info" data-original-title="" title="">
                                    <span class="event-user-inital text-dark">+40</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 374.5px;">
                        <div class="event-item featured">
                            <div class="event-schedule">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-calendar event-icon">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="event-day">20</span>
                                <div class="event-month-time">
                                    <span>nov</span>
                                    <span>18:00</span>
                                </div>
                            </div>
                            <a href="#" class="event-title">Cocktail party</a>
                            <p class="event-content">Cocktail party with +One management</p>
                            <ul class="event-participants">
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Keith J</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-primary" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Massi J</b>">
                                    <span class="event-user-inital text-primary">MS</span>
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Lex L</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-danger" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Sam R</b>">
                                    <span class="event-user-inital text-danger">SR</span>
                                </li>
                                <li class="event-user bg-soft-info" data-original-title="" title="">
                                    <span class="event-user-inital text-dark">+99</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 374.5px;">
                        <div class="event-item">
                            <div class="event-schedule">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-calendar event-icon">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="event-day">30</span>
                                <div class="event-month-time">
                                    <span>dec</span>
                                    <span>22:00</span>
                                </div>
                            </div>
                            <a href="#" class="event-title">Review house infra</a>
                            <p class="event-content">Invitation from Axiom Infra Inc. for project</p>
                            <ul class="event-participants">
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Antonio J</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Ronald M</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Lucy P</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-danger" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Sam W</b>">
                                    <span class="event-user-inital text-danger">SW</span>
                                </li>
                                <li class="event-user bg-soft-info" data-original-title="" title="">
                                    <span class="event-user-inital text-dark">+60</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 374.5px;">
                        <div class="event-item">
                            <div class="event-schedule">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-calendar event-icon">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="event-day">8</span>
                                <div class="event-month-time">
                                    <span>jan</span>
                                    <span>15:00</span>
                                </div>
                            </div>
                            <a href="#" class="event-title">Dinner Meet</a>
                            <p class="event-content">Dinner with Microsoft chief managers</p>
                            <ul class="event-participants">
                                <li class="event-user bg-soft-success" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Alex K</b>">
                                    <span class="event-user-inital text-success">AK</span>
                                </li>
                                <li class="event-user bg-soft-primary" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Don Jasua</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-warning" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Becka Jasua</b>">
                                    <span class="event-user-inital text-warning">BC</span>
                                </li>
                                <li class="event-user bg-soft-danger" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Max C</b>">
                                    <span class="event-user-inital text-danger">MC</span>
                                </li>
                                <li class="event-user bg-soft-info" data-original-title="" title="">
                                    <span class="event-user-inital text-dark">+80</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 374.5px;">
                        <div class="event-item">
                            <div class="event-schedule">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-calendar event-icon">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="event-day">28</span>
                                <div class="event-month-time">
                                    <span>oct</span>
                                    <span>20:00</span>
                                </div>
                            </div>
                            <a href="#" class="event-title">Hire Developer</a>
                            <p class="event-content">Meeting is scheduled to hire developer</p>
                            <ul class="event-participants">
                                <li class="event-user bg-soft-success" data-toggle="tooltip" data-skin-class="tooltip-base" data-html="true" data-placement="top" title="" data-original-title="<b>Camron D</b>">
                                    <span class="event-user-inital text-success">CD</span>
                                </li>
                                <li class="event-user bg-soft-primary" data-toggle="tooltip" data-skin-class="tooltip-base" data-html="true" data-placement="top" title="" data-original-title="<b>Pam A</b>">
                                    <span class="event-user-inital text-primary">PA</span>
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-skin-class="tooltip-base" data-html="true" data-placement="top" title="" data-original-title="<b>William S</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-danger" data-toggle="tooltip" data-skin-class="tooltip-base" data-html="true" data-placement="top" title="" data-original-title="<b>Ron M</b>">
                                    <span class="event-user-inital text-danger">RM</span>
                                </li>
                                <li class="event-user bg-soft-info" data-original-title="" title="">
                                    <span class="event-user-inital text-dark">+30</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 374.5px;">
                        <div class="event-item">
                            <div class="event-schedule">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-calendar event-icon">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="event-day">12</span>
                                <div class="event-month-time">
                                    <span>nov</span>
                                    <span>13:00</span>
                                </div>
                            </div>
                            <a href="#" class="event-title">Conference meeting</a>
                            <p class="event-content">ERP system conference in Canada team</p>
                            <ul class="event-participants">
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Tommy C</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-primary" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Alison G</b>">
                                    <span class="event-user-inital text-primary">AG</span>
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Brad P</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Saun K</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-info" data-original-title="" title="">
                                    <span class="event-user-inital text-dark">+40</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 374.5px;">
                        <div class="event-item featured">
                            <div class="event-schedule">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-calendar event-icon">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="event-day">20</span>
                                <div class="event-month-time">
                                    <span>nov</span>
                                    <span>18:00</span>
                                </div>
                            </div>
                            <a href="#" class="event-title">Cocktail party</a>
                            <p class="event-content">Cocktail party with +One management</p>
                            <ul class="event-participants">
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Keith J</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-primary" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Massi J</b>">
                                    <span class="event-user-inital text-primary">MS</span>
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Lex L</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-danger" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Sam R</b>">
                                    <span class="event-user-inital text-danger">SR</span>
                                </li>
                                <li class="event-user bg-soft-info" data-original-title="" title="">
                                    <span class="event-user-inital text-dark">+99</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 374.5px;">
                        <div class="event-item">
                            <div class="event-schedule">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-calendar event-icon">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="event-day">30</span>
                                <div class="event-month-time">
                                    <span>dec</span>
                                    <span>22:00</span>
                                </div>
                            </div>
                            <a href="#" class="event-title">Review house infra</a>
                            <p class="event-content">Invitation from Axiom Infra Inc. for project</p>
                            <ul class="event-participants">
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Antonio J</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Ronald M</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Lucy P</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-danger" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Sam W</b>">
                                    <span class="event-user-inital text-danger">SW</span>
                                </li>
                                <li class="event-user bg-soft-info" data-original-title="" title="">
                                    <span class="event-user-inital text-dark">+60</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 374.5px;">
                        <div class="event-item">
                            <div class="event-schedule">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-calendar event-icon">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="event-day">8</span>
                                <div class="event-month-time">
                                    <span>jan</span>
                                    <span>15:00</span>
                                </div>
                            </div>
                            <a href="#" class="event-title">Dinner Meet</a>
                            <p class="event-content">Dinner with Microsoft chief managers</p>
                            <ul class="event-participants">
                                <li class="event-user bg-soft-success" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Alex K</b>">
                                    <span class="event-user-inital text-success">AK</span>
                                </li>
                                <li class="event-user bg-soft-primary" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Don Jasua</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-warning" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Becka Jasua</b>">
                                    <span class="event-user-inital text-warning">BC</span>
                                </li>
                                <li class="event-user bg-soft-danger" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Max C</b>">
                                    <span class="event-user-inital text-danger">MC</span>
                                </li>
                                <li class="event-user bg-soft-info" data-original-title="" title="">
                                    <span class="event-user-inital text-dark">+80</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 374.5px;">
                        <div class="event-item">
                            <div class="event-schedule">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-calendar event-icon">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="event-day">28</span>
                                <div class="event-month-time">
                                    <span>oct</span>
                                    <span>20:00</span>
                                </div>
                            </div>
                            <a href="#" class="event-title">Hire Developer</a>
                            <p class="event-content">Meeting is scheduled to hire developer</p>
                            <ul class="event-participants">
                                <li class="event-user bg-soft-success" data-toggle="tooltip" data-skin-class="tooltip-base" data-html="true" data-placement="top" title="" data-original-title="<b>Camron D</b>">
                                    <span class="event-user-inital text-success">CD</span>
                                </li>
                                <li class="event-user bg-soft-primary" data-toggle="tooltip" data-skin-class="tooltip-base" data-html="true" data-placement="top" title="" data-original-title="<b>Pam A</b>">
                                    <span class="event-user-inital text-primary">PA</span>
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-skin-class="tooltip-base" data-html="true" data-placement="top" title="" data-original-title="<b>William S</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-danger" data-toggle="tooltip" data-skin-class="tooltip-base" data-html="true" data-placement="top" title="" data-original-title="<b>Ron M</b>">
                                    <span class="event-user-inital text-danger">RM</span>
                                </li>
                                <li class="event-user bg-soft-info" data-original-title="" title="">
                                    <span class="event-user-inital text-dark">+30</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 374.5px;">
                        <div class="event-item">
                            <div class="event-schedule">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-calendar event-icon">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="event-day">12</span>
                                <div class="event-month-time">
                                    <span>nov</span>
                                    <span>13:00</span>
                                </div>
                            </div>
                            <a href="#" class="event-title">Conference meeting</a>
                            <p class="event-content">ERP system conference in Canada team</p>
                            <ul class="event-participants">
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Tommy C</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-primary" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Alison G</b>">
                                    <span class="event-user-inital text-primary">AG</span>
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Brad P</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Saun K</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-info" data-original-title="" title="">
                                    <span class="event-user-inital text-dark">+40</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 374.5px;">
                        <div class="event-item featured">
                            <div class="event-schedule">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-calendar event-icon">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="event-day">20</span>
                                <div class="event-month-time">
                                    <span>nov</span>
                                    <span>18:00</span>
                                </div>
                            </div>
                            <a href="#" class="event-title">Cocktail party</a>
                            <p class="event-content">Cocktail party with +One management</p>
                            <ul class="event-participants">
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Keith J</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-primary" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Massi J</b>">
                                    <span class="event-user-inital text-primary">MS</span>
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Lex L</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-danger" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Sam R</b>">
                                    <span class="event-user-inital text-danger">SR</span>
                                </li>
                                <li class="event-user bg-soft-info" data-original-title="" title="">
                                    <span class="event-user-inital text-dark">+99</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 374.5px;">
                        <div class="event-item">
                            <div class="event-schedule">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="feather feather-calendar event-icon">
                                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="16" y1="2" x2="16" y2="6"></line>
                                    <line x1="8" y1="2" x2="8" y2="6"></line>
                                    <line x1="3" y1="10" x2="21" y2="10"></line>
                                </svg>
                                <span class="event-day">30</span>
                                <div class="event-month-time">
                                    <span>dec</span>
                                    <span>22:00</span>
                                </div>
                            </div>
                            <a href="#" class="event-title">Review house infra</a>
                            <p class="event-content">Invitation from Axiom Infra Inc. for project</p>
                            <ul class="event-participants">
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Antonio J</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Ronald M</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Lucy P</b>">
                                    <img class="event-user-pic" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Pic" />
                                </li>
                                <li class="event-user bg-soft-danger" data-toggle="tooltip" data-placement="top" data-skin-class="tooltip-base" data-html="true" title="" data-original-title="<b>Sam W</b>">
                                    <span class="event-user-inital text-danger">SW</span>
                                </li>
                                <li class="event-user bg-soft-info" data-original-title="" title="">
                                    <span class="event-user-inital text-dark">+60</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev">
                    <div class="owl-nav-wrapper bg-soft-primary">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-chevron-left text-primary">
                            <polyline points="15 18 9 12 15 6"></polyline>
                        </svg>
                    </div>
                </button>
                <button type="button" role="presentation" class="owl-next">
                    <div class="owl-nav-wrapper bg-soft-primary">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-chevron-right text-primary">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </div>
                </button>
            </div>
            <div class="owl-dots disabled"></div>
        </div>
    </div>
</div>
</div>