!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="/css/styles-pl.css">
    <link rel="stylesheet" href="/css/styles-shared.css">

    </head>
    <body>
<!--        **HEADER**                 -->
<%- include("../partials/header")%>

<!--      LISTA DE PRODUCTOS          -->

<div id="relacionados">
    <p>Busqueda Relacionada: Paquetes Bariloche, Promos Bariloche</p>
    <div class="caja1">
    <h2>Paquetes Turisticos</h2>
    <h3>Vuelo+Alojamiento</h3>
    <h3 class="caja2">Origen:</h3>
    <h3 class="caja3">Destino:</h3>
    <ul class="caja4">
        <li>Fecha:</li>
        <li>Noches</li>
    </ul>
    <h3 class="caja5">Habitaciones</h3>
    </div>
    
<div class="mapa">
    <ul>
       <h2>link de Mapa?</h2> 
       <h2><a href="?????">VER MAPA</a></h2>
    </ul>

</div>
</div>
    </body>
    </html>