!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="/css/styles-pl.css">
    <link rel="stylesheet" href="/css/styles-shared.css">

</head>

<body>
    <!--        **HEADER**                 -->
    <%- include("../partials/header")%>

        <!--      LISTA DE PRODUCTOS          -->

        <div id="relacionados">
            <p>Busqueda Relacionada: Paquetes Bariloche, Promos Bariloche</p>
            <div class="caja1">
                <h2>Paquetes Turisticos</h2>
                <h3>Vuelo+Alojamiento</h3>
                <h3 class="caja2">Origen:</h3>
                <h3 class="caja3">Destino:</h3>
                <ul class="caja4">
                    <li>Fecha:</li>
                    <li>Noches</li>
                </ul>
                <h3 class="caja5">Habitaciones</h3>
            </div>

            <div class="mapa">
                <ul>
                    <hr><iframe
                        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d105082.00583639748!2d-58.4447266!3d-34.6088979!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1646425484703!5m2!1ses-419!2sar"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></hr>
                    <h2><a href="?????">VER MAPA</a></h2>
                </ul>

            </div>
        </div>
</body>

</html>