<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar compra</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-sp.css">
    <link rel="stylesheet" href="css/styles-shared.css">

</head>

<body>

    <%- include("../partials/header")%>

        <main>

            <section class="carrito">
                <!--                                -->
                <div class="encuadre">
                    <h3>Carrito</h3>

                    <div class="producto">
                        <div>
                            <form action=""> <button>ELIMINAR</button></form>
                        </div>
                        <h4>Producto</h4>
                        <p>Producto -- Origen -- Metodo -- Destino</p>
                        <p class="costo"> $ $$$$$</p>
                    </div>
                    <!--                                -->
                    <div class="detalles">
                        <div>
                            <form action=""> <button>EDITAR</button></form>
                        </div>
                        <h4>Detalles</h4>
                        <p> Origen: -- Destino: -- Estadia: -- Forma de viaje: -- Hora de vuelo: -- Etc...</p>
                    </div>
                    <!--                                -->
                    <div class="agregado">
                        <div>
                            <form action=""> <button> ? </button></form>
                        </div>
                        <h4>Valores agregados</h4>
                        <p>$ $$$$$</p>
                    </div>
                    <!--                                -->
                    <div class="total">
                        <h3>Total</h4>
                            <p>$ $$$$$</p>
                            <div>
                                <form action=""> <button>COMPRAR</button></form>
                            </div>
                    </div>
                </div>
                <!--                                -->
            </section>

            <section class="sugerencias">

                <div class="sugerencia-1">
                    <p></p>
                    <span>Sugerencia 1</span>
                </div>


                <div class="sugerencia-2">
                    <p></p>
                    <span>Sugerencia 2</span>
                </div>

            </section>

            <section class="entradas">

            </section>

        </main>

        <footer>
            <div>
                <div class="contenedor-home">
                    <span><strong><a href="/Nosotros#nosotros" target="blank">Quiénes Somos</a></strong></span>
                    <span>
                        <i class="fab fa-whatsapp"></i>
                        <i class="fas fa-at"></i>
                        <strong><a href="/Nosotros#contacto" target="blank">Contactanos</a></strong></span>
                    <span><strong><a href="/Nosotros#acuerdo_legal" target="blank">Términos y
                                condiciones</a></strong></span>
                    <span><strong><a href="/Nosotros#defensa" target="blank">Ayuda</a></strong></span>
                    <span id="logo-footer">
                        <a href="/"><img src="/img/Logo.png" width="50%" height="auto"></a>
                    </span>
                </div>
            </div>
        </footer>

</body>

</html>