<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just the Header</title>
    <link rel="stylesheet" href="/public/css/Styles.css">
</head>
<body>

    <Header>
<!--                                -->
        <div class="upper-head">
            <div class="logo">
                <img src="" alt="Logo">
            </div>
        <!--                                -->
            <div class="fav-car-user">
                <span>Fav - </span>
                <span>Car - </span>
                <span>User</span>
            </div>
        </div>
<!--                                -->
        <div class="lower-head">
            <div class="buscador">
                <p>Buscar articulo individual...</p>
            </div>
        <!--                                -->
            <div class="boton-estrella">
                <span>Inicio - </span>
                <span>Paquetes - </span>
                <span>Boletos - </span>
                <span>Hoteles - </span>
                <span>Info</span>
            </div>
        </div>
<!--                                -->
    </Header>
    
</body>
</html>