<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just the Header</title>
</head>
<body>

    <Header>
        
        <div>

            <div>
                <img src="" alt="Logo">
            </div>

            <div>
                <span>Fav - </span>
                <span>Car - </span>
                <span>User</span>
            </div>

        </div>

        <div>

            <div>
                <p>Buscar articulo individual...</p>
            </div>

            <div>
                <span>Inicio - </span>
                <span>Paquetes - </span>
                <span>Boletos - </span>
                <span>Hoteles - </span>
                <span>Info</span>
            </div>

        </div>

    </Header>
    
</body>
</html>