<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road Tripping</title>
    <link rel="Stylesheet" href="css/Styles.css">
</head>
<body>
    <header>Hola!</header>
    <main>Hola!</main>
    <footer  >
        <div class="color-fondo">
            <div class="contenedor">
            <span><strong><a href="" target="blank">Quienes Somos</a></strong></span>
            <span><strong><a href="" target="blank">Contactanos</a></strong></span>
            <span><strong><a href="" target="blank">Terminos y condiciones</a></strong></span>
            <span><strong><a href="" target="blank">Ayuda</a></strong></span>
            <span>
                <img src=img/logo.png width="50%" height="auto"></span>
            </div>
        </div>
    </footer>
</body>
</html>