<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road Tripping</title>
    <link rel="Stylesheet" href="css/Styles.css">
    <link rel="icon" href="/img/Logo2.png">
</head>
<body>
    <header class="header-home">
    
    </header>
    <main>Hola!</main>
    <footer>
        <div>
            <div class="contenedor-home">
            <span><strong><a href="" target="blank">Quiénes Somos</a></strong></span>
            <span>
                <img src="img/whatsapp.png" width=20px alt="contactanos" />
                <img src="img/email.png" width=20px alt="">
                <strong><a href="" target="blank">Contactanos</a></strong></span>
            <span><strong><a href="" target="blank">Términos y condiciones</a></strong></span>
            <span><strong><a href="" target="blank">Ayuda</a></strong></span>
            <span id="logo-footer" class="logo-derecha">
                <a href="/"><img src=img/logo3.png width="300px" height="auto"></a> 
            </span>
            </div>
        </div>
    </footer>
</body>
</html>