<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar compra</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/public/css/normalize.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/public/css/Styles.css">
</head>
<body>

    <Header>
<!--                                -->
        <div class="upper-head">
            <div class="logo">
                <img class="logo-img" src="/public/img/Logo.png" alt="Logo">
            </div>
        <!--                                -->
            <div class="fav-car-user">
            <div class="user-grid">
                <span class="fav"><i class="fas fa-heart"></i></span>
                <span class="basket"><i class="fas fa-shopping-basket"></i></span>
                <span class="user"><i class="fas fa-user"></i></span>
            </div>
            </div>
        </div>
<!--                                -->
        <div class="lower-head">
            <div class="buscador">
                <div class="contenedor-1">
                    <span class="texto-1">Buscar articulo individual</span> <span class="icon-1"><i class="fas fa-search"></i></span>
                </div>
            </div>
        <!--                                -->
            <div class="boton-estrella">
                <span class="texto-2">Inicio - </span>
                    <i class="fas fa-home"></i>
                <span class="texto-2">Paquetes - </span>
                    <i class="fas fa-suitcase-rolling"></i>
                <span class="texto-2">Boletos - </span>
                    <i class="fas fa-ticket-alt"></i>
                <span class="texto-2">Hoteles - </span>
                    <i class="fas fa-hotel"></i>
                <span class="texto-2">Info</span>
                    <i class="fas fa-info-circle"></i>
            </div>
        </div>
<!--                                -->
    </Header>
    
    <main>

    <section class="carrito">
<!--                                -->
        <div class="encuadre">
            <h3>Carrito</h3>

            <div class="producto">
                <span><i class="fas fa-bars"></i></span>
                <h4>Producto</h4>
                <p>Producto -- Origen -- Metodo -- Destino</p>
                <p class="costo"> $ $$$$$</p>
            </div>
<!--                                -->
            <div class="detalles">
                <span><i class="fas fa-bars"></i></span>
                <h4>Detalles</h4>
                <p> Origen: -- Destino: -- Estadia: --  Forma de viaje: -- Hora de vuelo: -- Etc...</p>
            </div>
<!--                                -->
            <div class="agregado">
                <span><i class="fas fa-bars"></i></span>
                <h4>Valores agregados</h4>
                <p>$ $$$$$</p>
            </div>
<!--                                -->
            <div class="total">
                <h3>Total</h4>
                <p>$ $$$$$</p>
            </div>
        </div>
<!--                                -->
    </section>

    <section class="sugerencias">

        <div class="sugerencia-1">
            <p></p>
            <span>Sugerencia 1</span>
        </div>


        <div class="sugerencia-2">
            <p></p>
            <span>Sugerencia 2</span>
        </div>

    </section>
    </main>

    <footer>
        <div>
            <div class="contenedor-home">
            <span><strong><a href="" target="blank">Quiénes Somos</a></strong></span>
            <span>
                <i class="fab fa-whatsapp"></i>
                <i class="fas fa-at"></i>
                <strong><a href="" target="blank">Contactanos</a></strong></span>
            <span><strong><a href="" target="blank">Términos y condiciones</a></strong></span>
            <span><strong><a href="" target="blank">Ayuda</a></strong></span>
            <span id="logo-footer">
                <a href="/"><img src=img/logo.png width="50%" height="auto"></a> 
            </span>
            </div>
        </div>
    </footer>

</body>
</html>