<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa a tu cuenta</title>
    <link rel="Stylesheet" href="css/Styles.css">
</head>
<header class="ingresar">
    <div id="imagen-login">
        <img src="/img/Logo.png" alt="" width="200px">
    </div>
    <div class="header-login">
        <h1>Iniciar Sesión</h1>
        <h2>Para crear una cuenta nueva <a id="ingresa-aqui" href="/registrarse" target="_blank">Ingresa aquí</a></h2>
    </div>
</header>
<body>
    <form >
        <div class="login">
            <a style="text-decoration:none" href="https://www.facebook.com/login" class="botonSocial" id="fb" target="_blank">
                <img src="img/fb.png" width=20px alt=""><strong> Ingresa con Facebook</strong>
            </a>
            <a style="text-decoration:none" href="https://www.twitter.com/login" class="botonSocial" id="twitter" target="_blank">
                <img src="img/twitter.png" width=20px alt=""><strong>Ingresa con Twitter</strong>
            </a>
            <a style="text-decoration:none" href="https://accounts.google.com" class="botonSocial" id="google" target="_blank">
                <img src="img/google+.png" width=20px alt=""><strong>Ingresa con Google+</strong>
            </a>
          </div>
    
        <div class="login">
            <label for=""><strong>Usuario: </strong></label>
            <input type="text" placeholder="Nombre de usuario" name="username" required> 
            <label for=""><strong>Contraseña: </strong></label>
            <input type="password" placeholder="Contraseña" name="password" required>
            <button type="submit">Ingresar</button>   
            <input type="checkbox" checked="checked"> Recuérdame
            <button type="button" class="cancelbtn"> Cancelar</button>
            <a href="#">Olvidaste contraseña?</a>  
        </div>
    </form>

</body>
</html>