<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <div id="general">
        <div id="promos">
            <h1 class="promo">Promo 1:</h1>
        </div>
        <div id="Buscador-perzonalizado">
            <ul class="barra-origen-destino-fecha">
                <li><a>Origen:</a></li>
                <li><a>___________</a></li>
                <li><a>Destino:</a></li>
                <li><a>___________</a></li>
                <li><a>Fecha:</a></li>
                <li><a> Del</a></li>
                <li><a>___________</a></li>
                <li><a> Al</a></li>
                <li><a>___________</a></li>
            </ul>
            <div class="container">

                <ul class="slider">
                    <li id="slide1">
                        <img src="./img/Bariloche/Bariloche1 Letras.jpg" />
                    </li>
                    <li id="slide2">
                        <img src="./img/Bariloche/Bariloche2 Lago.jpg" />
                    </li>
                    <li id="slide3">
                        <img src="./img/Bariloche/Bariloche3 Pueblo.jpg" />
                    </li>
                    <li id="slide4">
                        <img src="./img/Bariloche/Bariloche4 Noche.jpg" />
                    </li>
                    <li id="slide5">
                        <img src="./img/Bariloche/Bariloche5 Lago2.jpg" />
                    </li>
                    <li id="slide6">
                        <img src="./img/Bariloche/Bariloche6 Lago3.jpg" />
                    </li>
                    <li id="slide7">
                        <img src="./img/Bariloche/Bariloche7 catedral invierno.jpg" />
                    </li>
                    <li id="slide8">
                        <img src="./img/Bariloche/Bariloche8 invierno2.jpg" />
                    </li>
                </ul>

                <ul class="menu">
                    <li>
                        <a href="#slide1">1</a>
                    </li>
                    <li>
                        <a href="#slide2">2</a>
                    </li>
                    <li>
                        <a href="#slide3">3</a>
                    </li>
                    <li>
                        <a href="#slide4">4</a>
                    </li>
                    <li>
                        <a href="#slide5">5</a>
                    </li>
                    <li>
                        <a href="#slide6">6</a>
                    </li>
                    <li>
                        <a href="#slide7">7</a>
                    </li>
                    <li>
                        <a href="#slide8">8</a>
                    </li>
                </ul>

            </div>
            <div id="descripcion">
                <h2>Desconexión natural en San Carlos de Bariloche</h2>
                <h3>Este paquete incluye:</h3>
                   <ul class="detalle">
                    <li><a>VUELO: Ida y Vuelta</a></li> 
                    <li><a>ALOJAMIENTO 3 noches en los mejores hoteles con cercania al centro</a></li>
                    <li><a>Habitación Doble Estándar con Vista a la Colina con Desayuno</a></li>
                    <li><a>TRASLADO PRIVADO: Ida y vuelta del aeropuerto al hotel</a></li>
                    <li><a>Wi-Fi gratis en zonas comunes · Estacionamiento gratis</a></li>
                    <li><a>El seguro de tu viaje</a></li>
                    <li><a>Excursiones: Circuito chico, Kayak en Lago Gutierrez, San Martín de los Andes por la Ruta de los 7 Lagos
                    </a></li>
                   </ul>
            </div>
            <div id="promos">
                <h1 class="promo">Promo 2:</h1>
            </div>
            <div class="container">

                <ul class="slider">
                    <li id="slide2.1">
                        <img src="./img/Ushuaia/Ushuaia1.jpg" />
                    </li>
                    <li id="slide2.2">
                        <img src="./img/Ushuaia/Ushuaia2.jpg" />
                    </li>
                    <li id="slide2.3">
                        <img src="./img/Ushuaia/Ushuaia3.jpg" />
                    </li>
                    <li id="slide2.4">
                        <img src="./img/Ushuaia/Ushuaia4.jpg" />
                    </li>
                    <li id="slide2.5">
                        <img src="./img/Ushuaia/Ushuaia5.jpg" />
                    </li>
                    <li id="slide2.6">
                        <img src="./img/Ushuaia/Ushuaia6.jpg" />
                    </li>
                    <li id="slide2.7">
                        <img src="./img/Ushuaia/Ushuaia7.jpg" />
                    </li>
                    <li id="slide2.8">
                        <img src="./img/Ushuaia/Ushuaia8.jpg" />
                    </li>
                </ul>

                <ul class="menu">
                    <li>
                        <a href="#slide2.1">1</a>
                    </li>
                    <li>
                        <a href="#slide2.2">2</a>
                    </li>
                    <li>
                        <a href="#slide2.3">3</a>
                    </li>
                    <li>
                        <a href="#slide2.4">4</a>
                    </li>
                    <li>
                        <a href="#slide2.5">5</a>
                    </li>
                    <li>
                        <a href="#slide2.6">6</a>
                    </li>
                    <li>
                        <a href="#slide2.7">7</a>
                    </li>
                    <li>
                        <a href="#slide2.8">8</a>
                    </li>
                </ul>

            </div>

            <div id="descripcion">
                <h2>Postales de montaña en Ushuaia</h2>
                <h3>Este paquete incluye:</h3>
                   <ul class="detalle">
                    <li><a>VUELO: Ida y Vuelta</a></li> 
                    <li><a>ALOJAMIENTO 4 noches en los mejores hoteles con cercania al centro</a></li>
                    <li><a>Habitación Doble Estándar con Vista al Lago, con Desayuno incluido</a></li>
                    <li><a>TRASLADO PRIVADO: Ida y vuelta del aeropuerto al hotel</a></li>
                    <li><a>Wi-Fi gratis en zonas comunes · Estacionamiento gratis · Calefacción en zonas comunes</a></li>
                    <li><a>El seguro de tu viaje</a></li>
                    <li><a>Excursiones: Experiencia Parque Nacional Tierra del Fuego</a></li>
                   </ul>
            </div>

            <div id="promos">
                <h1 class="promo">Promo 3:</h1>
            </div>
            <div class="container">

                <ul class="slider">
                    <li id="slide3.1">
                        <img src="" />
                        <!--imagen1-->
                    </li>
                    <li id="slide3.2">
                        <img src="" />
                        <!--imagen2-->
                    </li>
                    <li id="slide3.3">
                        <img src="" />
                        <!--imagen3-->
                    </li>
                    <li id="slide3.4">
                        <img src="" />
                        <!--imagen4-->
                    </li>
                    <li id="slide3.5">
                        <img src="" />
                        <!--imagen5-->
                    </li>
                    <li id="slide3.6">
                        <img src="" />
                        <!--imagen6-->
                    </li>
                    <li id="slide3.7">
                        <img src="" />
                        <!--imagen7-->
                    </li>
                    <li id="slide3.8">
                        <img src="" />
                        <!--imagen8-->
                    </li>
                </ul>

                <ul class="menu">
                    <li>
                        <a href="#slide3.1">1</a>
                    </li>
                    <li>
                        <a href="#slide3.2">2</a>
                    </li>
                    <li>
                        <a href="#slide3.3">3</a>
                    </li>
                    <li>
                        <a href="#slide3.4">4</a>
                    </li>
                    <li>
                        <a href="#slide3.5">5</a>
                    </li>
                    <li>
                        <a href="#slide3.6">6</a>
                    </li>
                    <li>
                        <a href="#slide3.7">7</a>
                    </li>
                    <li>
                        <a href="#slide3.8">8</a>
                    </li>
                </ul>

            </div>

            <div id="descripcion">
                <h2>Montañas y aire puro en El Calafate</h2>
                <h3>Este paquete incluye:</h3>
                   <ul class="detalle">
                    <li><a>VUELO: Ida y Vuelta</a></li> 
                    <li><a>ALOJAMIENTO 4 noches en los mejores hoteles con cercania al centro</a></li>
                    <li><a>Habitación Doble Estándar con Minibar y Desayuno incluido</a></li>
                    <li><a>TRASLADO PRIVADO: Ida y vuelta del aeropuerto al hotel</a></li>
                    <li><a>Wi-Fi gratis en zonas comunes · Estacionamiento gratis</a></li>
                    <li><a>El seguro de tu viaje</a></li>
                    <li><a>Excursiones: Navegación frente al Glaciar Perito Moreno</a></li>
                   </ul>
            </div>

            <div id="promos">
                <h1 class="promo">Promo 4:</h1>
            </div>
            <div class="container">

                <ul class="slider">
                    <li id="slide4.1">
                        <img src="" />
                        <!--imagen1-->
                    </li>
                    <li id="slide4.2">
                        <img src="" />
                        <!--imagen2-->
                    </li>
                    <li id="slide4.3">
                        <img src="" />
                        <!--imagen3-->
                    </li>
                    <li id="slide4.4">
                        <img src="" />
                        <!--imagen4-->
                    </li>
                    <li id="slide4.5">
                        <img src="" />
                        <!--imagen5-->
                    </li>
                    <li id="slide4.6">
                        <img src="" />
                        <!--imagen6-->
                    </li>
                    <li id="slide4.7">
                        <img src="" />
                        <!--imagen7-->
                    </li>
                    <li id="slide4.8">
                        <img src="" />
                        <!--imagen8-->
                    </li>
                </ul>

                <ul class="menu">
                    <li>
                        <a href="#slide4.1">1</a>
                    </li>
                    <li>
                        <a href="#slide4.2">2</a>
                    </li>
                    <li>
                        <a href="#slide4.3">3</a>
                    </li>
                    <li>
                        <a href="#slide4.4">4</a>
                    </li>
                    <li>
                        <a href="#slide4.5">5</a>
                    </li>
                    <li>
                        <a href="#slide4.6">6</a>
                    </li>
                    <li>
                        <a href="#slide4.7">7</a>
                    </li>
                    <li>
                        <a href="#slide4.8">8</a>
                    </li>
                </ul>

            </div>
            <div id="descripcion">
                <h2>Bajo el encanto de Mendoza</h2>
                <h3>Este paquete incluye:</h3>
                   <ul class="detalle">
                    <li><a>VUELO: Ida y Vuelta</a></li> 
                    <li><a>ALOJAMIENTO 4 noches en los mejores hoteles con cercania al centro</a></li>
                    <li><a>Habitación Estándar con Desayuno incluido</a></li>
                    <li><a>TRASLADO PRIVADO: Ida y vuelta del aeropuerto al hotel</a></li>
                    <li><a>Wi-Fi gratis en zonas comunes · Estacionamiento gratis · Piscina ·Aire Acondicionado en zonas comunes</a></li>
                    <li><a>El seguro de tu viaje</a></li>
                    <li><a>Excursiones: City tour</a></li>
                   </ul>
            </div>


</body>

</html>