<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalle de Producto</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
        <link rel="stylesheet" href="./css/styles.css">
        
    </head>
    <body>
        <div id="general">
        <div id="promos">
<h1 class="promo">Promo 1:</h1>
        </div>
<div id="Buscador-perzonalizado">
    <ul class= "barra-origen-destino-fecha">
    <li><a>Origen:</a></li>
    <li><a>___________</a></li>
    <li><a>Destino:</a></li>
    <li><a>___________</a></li>
    <li><a>Fecha:</a></li>
    <li><a> Del</a></li>
    <li><a>___________</a></li>
    <li><a> Al</a></li>
    <li><a>___________</a></li>
</ul>

</div>
    <article>
        <div class="destino-precio">
            <ul>
                <li>Bariloche Precio $81.206 p/p</li>
                <h3><a href="#">COMPRAR</a></h3>
            </ul>
        </div>

        <div class="container-slider">
        <div class="slider" id="slider">
    <div class="slider__section">
        <img src="./images/Bariloche/Bariloche1 Letras.jpg" alt="Letras" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="./images/Bariloche/Bariloche2 Lago.jpg" alt="Lago" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="./images/Bariloche/Bariloche3 Pueblo.jpg" alt="Pueblo" class="slider__img">
    </div>
     <div class="slider__section">
        <img src="./images/Bariloche/Bariloche4 Noche.jpg" alt="Noche" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="./images/Bariloche/Bariloche5 Lago2.jpg" alt="Lago2" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="./images/Bariloche/Bariloche6 Lago3.jpg" alt="Lago3" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="./images/Bariloche/Bariloche7 catedral invierno.jpg" alt="invierno" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="./images/Bariloche/Bariloche9 invierno3.jpg" alt="invierno3" class="slider__img">
    </div>
</div>
<div class="slider__btn slider__btn--right" id="btn-right">></div>
<div class="slider__btn slider__btn--left" id="btn-left"><</div>
<div id="descripcion">
    <h2>Desconexión natural en San Carlos de Bariloche</h2>
    <h3>Este paquete incluye:</h3>
       <ul class="detalle">
        <li><a>VUELO: Ida y Vuelta</a></li> 
        <li><a>ALOJAMIENTO 3 noches en los mejores hoteles con cercania al centro</a></li>
        <li><a>Habitación Doble Estándar con Vista a la Colina con Desayuno</a></li>
        <li><a>TRASLADO PRIVADO: Ida y vuelta del aeropuerto al hotel</a></li>
        <li><a>Wi-Fi gratis en zonas comunes · Estacionamiento gratis</a></li>
        <li><a>El seguro de tu viaje</a></li>
        <li><a>Excursiones: Circuito chico, Kayak en Lago Gutierrez, San Martín de los Andes por la Ruta de los 7 Lagos
        </a></li>
       </ul>
</div>

</div>
  </article>

  <article>
    <div class="destino-precio">
        <ul>
            <li>Ushuaia Precio $83.956 p/p</li>
        </ul>
    </div>
    <div id="promos">
    <h1 class="promo">Promo 2:</h1>
    </div>
    <div class="container-slider">
    <div class="slider" id="slider">
        <div class="slider__section">
            <img src="./images/Ushuaia/Ushuaia1.jpg" alt="Ushuaia1" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="./images/Ushuaia/Ushuaia2.jpg" alt="Ushuaia2" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="./images/Ushuaia/Ushuaia3.jpg" alt="Ushuaia3" class="slider__img">
        </div>
         <div class="slider__section">
            <img src="./images/Ushuaia/Ushuaia4.jpg" alt="Ushuaia4" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="./images/Ushuaia/Ushuaia5.jpg" alt="Ushuaia5" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="./images/Ushuaia/Ushuaia6.jpg" alt="Ushuaia6" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="./images/Ushuaia/Ushuaia7.jpg" alt="Ushuaia7" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="./images/Ushuaia/Ushuaia8.jpg" alt="Ushuaia8" class="slider__img">
        </div>
    </div>
    <div class="slider__btn slider__btn--right" id="btn-right">></div>
    <div class="slider__btn slider__btn--left" id="btn-left"><</div>
    
    <div id="descripcion">
        <h2>Postales de montaña en Ushuaia</h2>
        <h3>Este paquete incluye:</h3>
           <ul class="detalle">
            <li><a>VUELO: Ida y Vuelta</a></li> 
            <li><a>ALOJAMIENTO 4 noches en los mejores hoteles con cercania al centro</a></li>
            <li><a>Habitación Doble Estándar con Vista al Lago, con Desayuno incluido</a></li>
            <li><a>TRASLADO PRIVADO: Ida y vuelta del aeropuerto al hotel</a></li>
            <li><a>Wi-Fi gratis en zonas comunes · Estacionamiento gratis · Calefacción en zonas comunes</a></li>
            <li><a>El seguro de tu viaje</a></li>
            <li><a>Excursiones: Experiencia Parque Nacional Tierra del Fuego</a></li>
           </ul>
    </div>

    </div>
      </article>
    
      <article>
        <div class="destino-precio">
            <ul>
                <li>Calafate Precio $79.766 p/p</li>
            </ul>
        </div>
        <div id="promos">
        <h1 class="promo">Promo 3:</h1>
        </div>
        <div class="container-slider">
        <div class="slider" id="slider">
            <div class="slider__section">
                <img src="./images/Calafate/Calafate1.jpg" alt="Calafate1" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="./images/Calafate/Calafate2.jpg" alt="Calafate2" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="./images/Calafate/Calafate3.jpeg" alt="Calafate3" class="slider__img">
            </div>
             <div class="slider__section">
                <img src="./images/Calafate/Calafate4.jpg" alt="Calafate4" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="./images/Calafate/Calafate5.jpg" alt="Calafate5" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="./images/Calafate/Calafate6.jpg" alt="Calafate6" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="./images/Calafate/Calafate7.jpg" alt="Calafate7" class="slider__img">
            </div>
            <div class="slider__section">
                <img src="./images/Calafate/Calafate8.jpg" alt="Calafate8" class="slider__img">
            </div>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">></div>
        <div class="slider__btn slider__btn--left" id="btn-left"><</div>

        <div id="descripcion">
            <h2>Montañas y aire puro en El Calafate</h2>
            <h3>Este paquete incluye:</h3>
               <ul class="detalle">
                <li><a>VUELO: Ida y Vuelta</a></li> 
                <li><a>ALOJAMIENTO 4 noches en los mejores hoteles con cercania al centro</a></li>
                <li><a>Habitación Doble Estándar con Minibar y Desayuno incluido</a></li>
                <li><a>TRASLADO PRIVADO: Ida y vuelta del aeropuerto al hotel</a></li>
                <li><a>Wi-Fi gratis en zonas comunes · Estacionamiento gratis</a></li>
                <li><a>El seguro de tu viaje</a></li>
                <li><a>Excursiones: Navegación frente al Glaciar Perito Moreno</a></li>
               </ul>
        </div>
        </div>
          </article>
  
          <article>
            <div class="destino-precio">
                <ul>
                    <li>Mendoza Precio $41.605 p/p</li>
                </ul>
            </div>
            <div id="promos">
            <h1 class="promo">Promo 4:</h1>
            </div>
            <div class="container-slider">
            <div class="slider" id="slider">
                <div class="slider__section">
                    <img src="./images/Mendoza/mendoza1.jpg" alt="mendoza1" class="slider__img">
                </div>
                <div class="slider__section">
                    <img src="./images/Mendoza/mendoza2.jpg" alt="mendoza2" class="slider__img">
                </div>
                <div class="slider__section">
                    <img src="./images/Mendoza/mendoza3.jpg" alt="mendoza3" class="slider__img">
                </div>
                 <div class="slider__section">
                    <img src="./images/Mendoza/mendoza4.jpg" alt="mendoza4" class="slider__img">
                </div>
                <div class="slider__section">
                    <img src="./images/Mendoza/mendoza5.jpg" alt="mendoza5" class="slider__img">
                </div>
                <div class="slider__section">
                    <img src="./images/Mendoza/mendoza6.jpg" alt="mendoza6" class="slider__img">
                </div>
                <div class="slider__section">
                    <img src="./images/Mendoza/mendoza7.jpg" alt="mendoza7" class="slider__img">
                </div>
                <div class="slider__section">
                    <img src="./images/Mendoza/mendoza8.jpg" alt="mendoza8" class="slider__img">
                </div>
            </div>
            <div class="slider__btn slider__btn--right" id="btn-right">></div>
            <div class="slider__btn slider__btn--left" id="btn-left"><</div>
    
            <div id="descripcion">
                <h2>Bajo el encanto de Mendoza</h2>
                <h3>Este paquete incluye:</h3>
                   <ul class="detalle">
                    <li><a>VUELO: Ida y Vuelta</a></li> 
                    <li><a>ALOJAMIENTO 4 noches en los mejores hoteles con cercania al centro</a></li>
                    <li><a>Habitación Estándar con Desayuno incluido</a></li>
                    <li><a>TRASLADO PRIVADO: Ida y vuelta del aeropuerto al hotel</a></li>
                    <li><a>Wi-Fi gratis en zonas comunes · Estacionamiento gratis · Piscina ·Aire Acondicionado en zonas comunes</a></li>
                    <li><a>El seguro de tu viaje</a></li>
                    <li><a>Excursiones: City tour</a></li>
                   </ul>
            </div>
            
            </div>
              </article>


   <script src="./slider.js"></script>
</div>
</body>
</html>