<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalle de Producto</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
        <link rel="stylesheet" href="./css/styles.css">
        
    </head>
    <body>
        <article>
<h1 class="promo-destino">Promo 1  Bariloche</h1>
<ul class= "barra-origen-destino-fecha">
    <li><a>Origen:</a></li>
    <li><a>___________</a></li>
    <li><a>Destino:</a></li>
    <li><a>___________</a></li>
    <li><a>Fecha:</a></li>
    <li><a> Del</a></li>
    <li><a>___________</a></li>
    <li><a> Al</a></li>
    <li><a>___________</a></li>
</ul>

<div class="container-slider">
<div class="slider" id="slider">
    <div class="slider__section">
        <img src="./images/Bariloche/Bariloche1 Letras.jpg" alt="Letras" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="./images/Bariloche/Bariloche2 Lago.jpg" alt="Lago" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="./images/Bariloche/Bariloche3 Pueblo.jpg" alt="Pueblo" class="slider__img">
    </div>
     <div class="slider__section">
        <img src="./images/Bariloche/Bariloche4 Noche.jpg" alt="Noche" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="./images/Bariloche/Bariloche5 Lago2.jpg" alt="Lago2" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="./images/Bariloche/Bariloche6 Lago3.jpg" alt="Lago3" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="./images/Bariloche/Bariloche7 catedral invierno.jpg" alt="invierno" class="slider__img">
    </div>
    <div class="slider__section">
        <img src="./images/Bariloche/Bariloche9 invierno3.jpg" alt="invierno3" class="slider__img">
    </div>
</div>
<div class="slider__btn slider__btn--right" id="btn-right">></div>
<div class="slider__btn slider__btn--left" id="btn-left"><</div>

</div>
  </article>



  


   <script src="slider.js"></script>

</body>
</html>