<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar compra</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-sp.css">
    <link rel="stylesheet" href="css/styles-shared.css">

</head>

<body>

    <Header>
        <!--                                -->
        <div class="upper-head">
            <div class="logo">
                <a href="/"><img class="logo-img" src="./img/Logo.png" alt="Logo"></a>
            </div>
            <!--                                -->
            <div class="fav-car-user">
                <div class="user-grid">
                    <span class="fav"><i class="fas fa-heart"></i></span>
                    <span class="basket"><a href="/Carrito"><i class="fas fa-shopping-basket"></i></a></span>
                    <span class="user"><a href="/preregistro"><i class="fas fa-user"></i></a></span>
                </div>
            </div>
        </div>
        <!--                                -->
        <div class="lower-head">
            <div class="flex-arrange">
                <form action="POST" class="buscador">
                    <input type="text" name="elemento" id="elemento" placeholder="Buscar articulo individual">
                    <button type="submit"> <i class="fas fa-search"></i></button>
                </form>
            </div>
            <!--                                -->
            <div class="boton-estrella">
                <span class="texto-2"> Inicio - </span>
                <a href="/"><i class="fas fa-home"></i></a>
                <span class="texto-2">Paquetes - </span>
                <a href="/Product-Detail"><i class="fas fa-suitcase-rolling"></i></a>
                <span class="texto-2">Boletos - </span>
                <a href="/Product-Detail"><i class="fas fa-ticket-alt"></i></a>
                <span class="texto-2">Hoteles - </span>
                <a href="/Product-Detail"><i class="fas fa-hotel"></i></a>
                <span class="texto-2">Info</span>
                <a href="/Nosotros"><i class="fas fa-info-circle"></i></a>
            </div>
        </div>
        <!--                                -->
    </Header>

    <main>

        <section class="carrito">
            <!--                                -->
            <div class="encuadre">
                <h3>Carrito</h3>

                <div class="producto">
                    <h4>Producto</h4>
                    <p>Producto -- Origen -- Metodo -- Destino</p>
                    <p class="costo"> $ $$$$$</p>
                    <div>
                        <form action=""> <button>ELIMINAR</button></form>
                    </div>
                </div>
                <!--                                -->
                <div class="detalles">
                    <h4>Detalles</h4>
                    <p> etc.etc</p>
                    <div>
                        <form action=""> <button>EDITAR</button></form>
                    </div>
                </div>
                <!--                                -->
                <div class="agregado">
                    <h4>Valores agregados</h4>
                    <p>$ $$$$$</p>
                    <div>
                        <form action=""> <button> ? </button></form>
                    </div>
                </div>
                <!--                                -->
                <div class="total">
                    <h3>Total</h4>
                        <p>$ $$$$$</p>
                        <div>
                            <form action=""> <button>COMPRAR</button></form>
                        </div>
                </div>
            </div>
            <!--                                -->
        </section>

        
        <section class="sugerencias">

            <div class="sugerencia-1">
                <p></p>
                <span>Sugerencia 1</span>
            </div>


            <div class="sugerencia-2">
                <p></p>
                <span>Sugerencia 2</span>
            </div>

        </section>

        <section class="entradas">

        </section>

    </main>

    <footer>
        <div>
            <div class="contenedor-home">
                <span><strong><a href="/Nosotros#nosotros" target="blank">Quiénes Somos</a></strong></span>
                <span>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fas fa-at"></i>
                    <strong><a href="/Nosotros#contacto" target="blank">Contactanos</a></strong></span>
                <span><strong><a href="/Nosotros#acuerdo_legal" target="blank">Términos y
                            condiciones</a></strong></span>
                <span><strong><a href="/Nosotros#defensa" target="blank">Ayuda</a></strong></span>
                <span id="logo-footer">
                    <a href="/"><img src="/img/Logo.png" width="50%" height="auto"></a>
                </span>
            </div>
        </div>
    </footer>

</body>

</html>