<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/Styles-us.css">
</head>
<body>
    
    <Header>
        <!--                                -->
                <div class="upper-head">
                    <div class="logo">
                        <img class="logo-img" src="/public/img/Logo.png" alt="Logo">
                    </div>
                <!--                                -->
                    <div class="fav-car-user">
                    <div class="user-grid">
                        <span class="fav"><i class="fas fa-heart"></i></span>
                        <span class="basket"><i class="fas fa-shopping-basket"></i></span>
                        <span class="user"><i class="fas fa-user"></i></span>
                    </div>
                    </div>
                </div>
        <!--                                -->
                <div class="lower-head">
        
                            <form action="POST" class="buscador">
                                <input type="text" name="elemento" id="elemento" placeholder="Buscar articulo individual"> 
                                <button type="submit"> <i class="fas fa-search"> </i> </button>
                            </form>
        
                <!--                                -->
                    <div class="boton-estrella">
                        <span class="texto-2">Inicio - </span>
                            <i class="fas fa-home"></i>
                        <span class="texto-2">Paquetes - </span>
                            <i class="fas fa-suitcase-rolling"></i>
                        <span class="texto-2">Boletos - </span>
                            <i class="fas fa-ticket-alt"></i>
                        <span class="texto-2">Hoteles - </span>
                            <i class="fas fa-hotel"></i>
                        <span class="texto-2">Info</span>
                            <i class="fas fa-info-circle"></i>
                    </div>
                </div>
        <!--                                -->
    </Header>

    <main>

        <div class="nosotros">
            <h2>Nosotros</h2>
        <section class="encabezado-1">
            <article>
                <h3>¿Quienes somos?</h3>
                <p>Road Tripping SA es una empresa de turismo, dedicada a la venta de paquetes personalizados con el fin de satisfacer todas las demandas de nuestros clientes. Nuestros paquetes, que pueden ser para viajes en familia, como tambien para parejas o viajes con amigos, incluyen desde el transporte al destino elegido, hasta el alojamiento en los mejores hoteles, traslados desde y hacia el aeropuerto, alquiler de coches y todo lo necesario para vivir una experiencia de viaje relajada, divertida e inolvidable.</p>
            </article>
        </section>
        <section class="encabezado-2">
            <article>
                <h3>Nuestros productos</h3>
                <p>Prestamos servicio y asistencia al viajero proporcionándoles las mejores ofertas en paquetes Turísticos que pueden incluir, viajes en avion o vía terrestre, traslados Aeropuerto/Hotel/Aeropuerto, Alquiler de Vehiculos, Alquiler de Hoteles, etc.</p>
            </article> 
            <article>
                <h3>Nuestro público</h3>
                <p>El servicio va destinado para todo tipo de persona que requiera de una experiencia única donde refleje nuestro compromiso de calidad de servicio al cliente, esperando formar parte de su familia viajera.</p>
            </article>
            <article>
                <h3>¿Por qúe deberían elegirnos</h3>
                <p>Destacandonos por prestar servicios con CALIDAD, SEGURIDAD y PROFESIONALISMO a nuestros clientes y proveedores y ofreciendo los mejores precios y paquetes mas atractivos del mercado Nacional.</p>
            </article>    
        </section>
        </div>

        <section class="contacto">
            <h2>Contactanos</h2>
          <div class="container">
            <form action="#">
          
              <label for="fname">Nombre</label>
              <input type="text" id="fname" name="Nombre" placeholder="Nombre  Ej. Martín">
          
              <label for="email">Nombre</label>
              <input type="text" id="email" name="email" placeholder="Correo Electrónico">
               
              
              <label for="country">País</label>
              <select id="country" name="country">
                <option value="Argentina">Argentina</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Brasil">Brasil</option>
                <option value="Chile">Chile</option>
                <option value="Colombia">Colombia</option>
                <option value="Costa_Rica">Costa Rica</option>
                <option value="Cuba">Cuba</option>
                <option value="Ecuador">Ecuador</option>
                <option value="El_Salvador">El Salvador</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Honduras">Honduras</option>
                <option value="Mexico">México</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Panama">Panamá</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Peru">Perú</option>
                <option value="República_Dominicana">República Dominicana</option>
                <option value="Uruguay">Uruguay</option>
                <option value="Venezuela">Venezuela</option>


              </select>
          
              <label for="subject">Mensaje</label>
              <textarea id="subject" name="subject" placeholder="Escribe tu consulta / queja aquí" style="height:200px"></textarea>
              <input type="submit" value="Submit">
          
            </form>

            <section class="acuerdo_legal">
                <h2>Terminos y condiciones</h2>
                <div>
                    <iframe src="/utilidades/Terminos_y_Condiciones.pdf" id="Term_Cond" class="Term_Cond_Block" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="" title="BlockIframe" width="100%" height="538vh" frameborder="0"></iframe>
                </div>
            </section>

            <section class="FAQ">
                <h2>FAQ</h2>
                <div></div>
            </section>
          </div>  

        </section>
        

        <footer>
            <div>
                <div class="contenedor-home">
                <span><strong><a href="" target="blank">Quiénes Somos</a></strong></span>
                <span>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fas fa-at"></i>
                    <strong><a href="" target="blank">Contactanos</a></strong></span>
                <span><strong><a href="" target="blank">Términos y condiciones</a></strong></span>
                <span><strong><a href="" target="blank">Ayuda</a></strong></span>
                <span id="logo-footer">
                    <a href="#"><img src="/public/img/Logo.png" width="50%" height="auto"></a> 
                </span>
                </div>
            </div>
        </footer>
        
    </main>    
</body>
</html>