.typo-roboto {
    font-family: roboto;
}

.color-fondo {
    background-color: #FFF72F;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*-----------CARRUSEL-----------*/

body{
    background-color: white;
    font-family: sans-serif;
  }
  
  .container{
    margin: auto;
    background-color: #2A3594;
    width: 500px;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 500px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:white;
  }
  
  ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #2A3594;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.header-home {
    border: 1px black dashed;
    height: 283px;
    background: url(/img/Header.png);
    background-size: cover;
    background-position: center center;
}

main {
    border: 1px black dashed;
    height: 606px;
    background: url(/Wireframes/Limpio/Road\ Tripping\ \ -\ \ Limpio_4.jpg)
}

footer {
    background-color: #FFF72F;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: roboto;
    font-size: 20px;
    padding: 10px;
    border: 5px black solid;
    box-sizing: border-box;
    height: 135px;
}

.contenedor-home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}


#logo-footer {
    display: flex;

}


.ingresar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

/* aca empeiza login */


.login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#ingresa-aqui {
    color: blue;
}

#imagen-login {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.header-login {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: roboto;
    font-size: 1rem;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

button {
    background-color: #fa9e29;
    width: 30%;
    color: white;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

input[type=text], input[type=password] {
    width: 50%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #2a3594;
    box-sizing: border-box;
    background-color: #809de8;
    border-radius: 25px;
}

input:hover {
    opacity: 0.9
}

button:hover {
    opacity: 0.7;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
    border-radius: 25px;
}

/* social media*/

.botonSocial {
    width: 50%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #2a3594;
    box-sizing: border-box;
    background-color: #809de8;
    border-radius: 25px;
    color: black;
}

#fb {
    background-color: #3B5998;
    color: white;
    text-align: center;
    font-size: large;
    border-radius: 100%;
  }

#fb:hover {
    opacity: 0.7;
}


#twitter {
    background-color: #55ACEE;
    color: white;
    text-align: center;
    font-size: large;
}

#twitter:hover {
    opacity: 0.7;
}

#google {
    background-color: #dd4b39;
    color: white;
    text-align: center;
    font-size: large;
}

#google:hover {
    opacity: 0.7;
}