header {
    background-image: url(/public/img/Header.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    height: 250px;
    font-family: 'Roboto', sans-serif;
}

.upper-head {
    --espaciado-lateral: 2%;
    --espaciado-horizontal: 3fr;
    height: 50%;
    display: grid;
    grid-template-columns: var(--espaciado-lateral) 30% auto 10% 7%;
    grid-template-rows: 20% 60% 20%;
}

    .logo {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        align-self: center;
        justify-self: center;
        width: 100%;
    }

    .logo-img {
        width: 100%; 
    }

    .fav-car-user {
        grid-column-start: 4;
        grid-column-end: 5; 
        grid-row-start: 2;
        grid-row-end: 3;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        
    }

    .user-grid {
        --padding: 5px;
        --border-radius: 30%;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        
    }
        .fav { 
            border: 1px solid #4f78e2;
            padding: var(--padding);
            border-radius: var(--border-radius);
            background-color: #809de8;
        }

        .basket {
            border: 1px solid #4f78e2;
            padding: var(--padding);
            border-radius: var(--border-radius);
            background-color: #809de8;
        }

        .user {
            border: 1px solid #4f78e2;
            padding: var(--padding);
            border-radius: var(--border-radius);
            background-color: #809de8;
        }


.lower-head {
    --espaciado:2%;
    height: 50%;
    display: grid;
    grid-template-columns: var(--espaciado) 43% auto 33% var(--espaciado);
    grid-template-rows: 30% 25% 25% 5% 15%;
}

    .buscador {   
        color: rgb(226, 226, 226);
        background-color: white;
        padding: 1px;
        border: 1px solid gray;
        border-radius: 10px;
        margin: 2px 160px 2px 80px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

        .contenedor-1 {
            width: 100%;
            display: grid;
            grid-template-columns: 94% 6%;
            grid-template-rows: 100%;
        }

            .icon-1 {
                grid-column-start: 2;
                grid-column-end: 3;

            }

    .boton-estrella {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        justify-content: space-around;
    }

        .texto-2{
            display: none;
        }

        .boton-estrella i {
            padding: 2px;
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 30%;
            font-size: 30px;
            color: #fa9e29;
        }

/*------------------------------------------------------------------*/

main {
    height: 600px;
    width: 100%;
    --espaciado-horizontal: 10%;
    --espaciado-vertical: 10%;
    width: 100%;
    display: grid;
    grid-template-rows: var(--espaciado-horizontal) auto var(--espaciado-horizontal);
    grid-template-columns: var(--espaciado-vertical) auto 20% var(--espaciado-vertical);
}

.carrito {
    --espaciado-horizontal: 10%;
    --espaciado-vertical: 10%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #2A3594;
    margin: 10px;
    border-radius: 30px;
    color: #FFFFFF;

}

    .encuadre {
        height: 100%;
        display: grid;
        grid-template-columns: 15% 25% auto 15%;
        grid-template-rows: 10% 25% 25% 25% 15%;
    }

    .encuadre h3 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-left: 10px;
    }
/*-------------------------------------------*/
    .producto {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        margin: 10px 0px 10px 0px;
        background-color: #809DE8;
        color: #000000;
            display: grid;
            grid-template-columns: 15% 25% auto 15%;
    }

    .producto span i {
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 16px 0px 16px 0px;
    }
    
    .producto h4 {
        grid-column-start: 2;
        grid-column-end: 3;
        margin: 16px 0px 16px 10px;
    }

    .producto p {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .producto .costo {
        grid-column-start: 4;
        grid-column-end: 5;
    }
/*-------------------------------------------*/
    .detalles {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
        margin: 10px 0px 10px 0px;
        background-color: #809DE8;
        color: #000000;
            display: grid;
            grid-template-columns: 15% 25% auto 15%;
    }

    .detalles span i {
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 16px 0px 16px 0px;
    }
    
    .detalles h4 {
        grid-column-start: 2;
        grid-column-end: 3;
        margin: 16px 0px 16px 10px;
    }

    .detalles p {
        grid-column-start: 3;
        grid-column-end: 4;
    }
/*-------------------------------------------*/
    .agregado {
        grid-column: 1 / 5;
        grid-row: 4 / 5;
        margin: 10px 0px 10px 0px;
        background-color: #809DE8;
        color: #000000;
            display: grid;
            grid-template-columns: 15% 25% auto 15%;
    }

    .agregado span i {
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 16px 0px 16px 0px;
    }
    
    .agregado h4 {
        grid-column-start: 2;
        grid-column-end: 3;
        margin: 16px 0px 16px 10px;
    }

    .agregado p {
        grid-column-start: 3;
        grid-column-end: 4;
    }
/*-------------------------------------------*/
    .total {
        grid-column: 1 / 5;
        grid-row: 5 / 6;
        display: flex;
        justify-content: space-between;
    }

    .total h3 {
        margin-left: 10px;
    }

    .total p {
        margin: 16px 16px 16px 0px;
    }
/*-------------------------------------------*/

.sugerencias{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin: 10px;
    display: grid;
    grid-template-rows: 50% 50%;
}

.sugerencia-1 {
    grid-row: 1 / 2;
        display: grid;
        grid-template-rows: 80% 20%;
}

.sugerencia-2 {
    grid-row: 2 / 3;
        display: grid;
        grid-template-rows: 80% 20%;
}

.sugerencia-1 p {
    grid-row: 1 / 2;
    background-color: coral;
    border-radius: 30px;
    margin: 0px 0px 0px 0px;
}

.sugerencia-1 span {
    justify-content: center;
}

.sugerencia-2 p {
    grid-row: 1 / 2;
    background-color: coral;
    border-radius: 30px;
    margin: 0px 0px 0px 0px;
}
/*------------------------------------------------------------------*/

footer {
    background-color: #FFF72F;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-sizing:border-box;
    height: 135px;
}

.contenedor-home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    }


#logo-footer {
    display: flex;

}


 
