.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    right: -2%;
}

.user-picture-config {
    position: relative;
    right: 9.5%;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    right: 10%;
}

.profile-picture i {
    font-size: 8vh;
    margin-bottom: 4px;
}

.sign-out {
    position: absolute;
    right: -170%;
    top: -5%;
}

.editar-foto {
    font-size: 2vh;
    background-color: gray;
    padding: 1%;
    color: black;
    width: 100%;
    padding: 7px;
    border-radius: 11px;
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

.boton-user {
    flex-wrap: wrap;
    background-color: grey;
    padding: 10px;
    white-space: nowrap;
    font-size: large;
    color: black;
    margin: 2px;
    border: 1px black solid;
    font-weight: 500;
}

.boton-user:hover {
    opacity: 0.9;
}

.topnav {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: roboto;
    border-bottom: 2px solid #000000;
}


.topnav a {
    background-color: #C4C4C4;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-left: 2px white solid;
    border-right: 2px white solid;
}


.topnav a:hover {
    background-color: grey;
    color: black;
}

.topnav a.active {
    background-color: #2A3594;
    color: white;
}

.body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: roboto;

}

.datos-cuenta {
    display: block;
    width: 48%;
    height: 300px;
    background-color: grey;
    border: white 3px solid;
    border-radius: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: roboto;
}



.tipo-dato {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: roboto;
}

.titulos {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: roboto;
}

.titulos-seg {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: roboto;
}
/*--------BODY Mis Millas------*/

.nivel{
    margin-left: 9%;
    width: 180px;
    height: 30px;
    display: flex;
    background-color: #2A3594;
    border-radius: 5%;
    justify-content: center;
    color: white;
    align-items: center;
}
.beneficios{
    display: flex;
    margin-left: 10%;
    margin-top: 4%;
}
.container {
    margin: auto;
    background-color: white;
    width: 800px;
    padding: 30px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 800px;
    height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #fff;
}

ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
    /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1;
    /*Mostramos el <li> del enlace que pulsemos*/
}

.menu {
    text-align: center;
    margin: 20px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}
.suma-puntos p{
    display: flex;
    margin-left: 10%;
    margin-top: 4%;
}
.suma-puntos ul{
    display: flex;
    background-color: #809DE8;
    flex-direction: column
    ;
}
.puntos ul{
    display: flex;
    background-color: #809DE8;
    flex-direction: column
}
/*--------BODY Favoritos------*/

.favoritos-lista{
    display: flex;
    flex-direction: column;
}
.favoritos{
    margin-left: 9%;
}
.seleccion{
    display: flex;
    align-items: center;
    margin-left: 5%;
}
.seleccion p{
    display: flex;
    margin-left: 2%;
}
.producto {
    width: 550px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
  }
  
  .precio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .boton {
    display: flex;
    background-color: #FA9E29;
    color: white;
    border-radius: 5px;
    justify-content: center;
  }
  .eliminar{
      display: flex;
  }