<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoadTripping</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-hm.css">
    <link rel="stylesheet" href="css/styles-shared.css">
    <link rel="icon" href="/img/Logo2.png">
</head>

<body>

    <Header>
        <!--                                -->
        <div class="upper-head">
            <div class="logo">
                <a href="/"><img class="logo-img" src="./img/Logo.png" alt="Logo"></a>
            </div>
            <!--                                -->
            <div class="fav-car-user">
                <div class="user-grid">
                    <span class="fav"><i class="fas fa-heart"></i></span>
                    <span class="basket"><a href="/Carrito"><i class="fas fa-shopping-basket"></i></a></span>
                    <span class="user"><a href="/preregistro"><i class="fas fa-user"></i></a></span>
                </div>
            </div>
        </div>
        <!--                                -->
        <div class="lower-head">
            <div class="flex-arrange">
                <form action="POST" class="buscador">
                    <input type="text" name="elemento" id="elemento" placeholder="Buscar articulo individual">
                    <button type="submit"> <i class="fas fa-search"></i></button>
                </form>
            </div>
            <!--                                -->
            <div class="boton-estrella">
                <span class="texto-2"> Inicio - </span>
                <a href="/"><i class="fas fa-home"></i></a>
                <span class="texto-2">Paquetes - </span>
                <a href="/Product-Detail"><i class="fas fa-suitcase-rolling"></i></a>
                <span class="texto-2">Boletos - </span>
                <a href="/Product-Detail"><i class="fas fa-ticket-alt"></i></a>
                <span class="texto-2">Hoteles - </span>
                <a href="/Product-Detail"><i class="fas fa-hotel"></i></a>
                <span class="texto-2">Info</span>
                <a href="/Nosotros"><i class="fas fa-info-circle"></i></a>
            </div>
        </div>
        <!--                                -->
    </Header>

    <main>

        <section class="background-video">
            <div>
                <video autoplay="true" loop="true" width="100%" height="60%">
                    <source src="/vid/backgroundV1.5 (online-video-cutter.com)V4.mp4">
                    Sorry, your browser does not support HTML5 video.
                </video>
            </div>
        </section>

        <section class="buscador">
            <form action="">
                <input type="text" id="busqueda" name="item" placeholder="Buscar en nuestro catalogo">
            </form>
        </section>

        <section class="promo-carousel">
            <h2>Promos!!</h2>
            <article class="carousel">
                <div class="container-slider">
                    <div class="container">
                        <ul class="slider">
                            <li id="slide1">
                                <img src="/img/Bariloche/Bariloche1 Letras.jpg" />
                            </li>
                            <li id="slide2">
                                <img src="/img/Ushuaia/Ushuaia2.jpg" />
                            </li>
                            <li id="slide3">
                                <img src="/img/Bariloche/Bariloche3 Pueblo.jpg" />
                            </li>
                            <li id="slide4">
                                <img src="/img/Ushuaia/Ushuaia3.jpg" />
                            </li>
                            <li id="slide5">
                                <img src="/img/Bariloche/Bariloche4 Noche.jpg" />
                            </li>
                            <li id="slide6">
                                <img src="/img/Ushuaia/Ushuaia5.jpg" />
                            </li>
                            <li id="slide7">
                                <img src="/img/Bariloche/Bariloche7 catedral invierno.jpg" />
                            </li>
                            <li id="slide8">
                                <img src="/img/Ushuaia/Ushuaia7.jpg" />
                            </li>
                        </ul>

                        <ul class="menu">
                            <li>
                                <a href="#slide1">1</a>
                            </li>
                            <li>
                                <a href="#slide2">2</a>
                            </li>
                            <li>
                                <a href="#slide3">3</a>
                            </li>
                            <li>
                                <a href="#slide4">4</a>
                            </li>
                            <li>
                                <a href="#slide5">5</a>
                            </li>
                            <li>
                                <a href="#slide6">6</a>
                            </li>
                            <li>
                                <a href="#slide7">7</a>
                            </li>
                            <li>
                                <a href="#slide8">8</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="slider__btn slider__btn--right" id="btn-right"></div>
                <div class="slider__btn slider__btn--left" id="btn-left"></div>
            </article>

        </section>

        <section class="promo-carousel-2">
            <h2>Favoritos de los clientes!</h2>
            <article class="carousel">
                <div class="container-slider">
                    <div class="container">
                        <ul class="slider">
                            <li id="slide1">
                                <img src="/img/Bariloche/Bariloche1 Letras.jpg" />
                            </li>
                            <li id="slide2">
                                <img src="/img/Ushuaia/Ushuaia2.jpg" />
                            </li>
                            <li id="slide3">
                                <img src="/img/Bariloche/Bariloche3 Pueblo.jpg" />
                            </li>
                            <li id="slide4">
                                <img src="/img/Ushuaia/Ushuaia3.jpg" />
                            </li>
                            <li id="slide5">
                                <img src="/img/Bariloche/Bariloche4 Noche.jpg" />
                            </li>
                            <li id="slide6">
                                <img src="/img/Ushuaia/Ushuaia5.jpg" />
                            </li>
                            <li id="slide7">
                                <img src="/img/Bariloche/Bariloche7 catedral invierno.jpg" />
                            </li>
                            <li id="slide8">
                                <img src="/img/Ushuaia/Ushuaia7.jpg" />
                            </li>
                        </ul>

                        <ul class="menu">
                            <li>
                                <a href="#slide1">1</a>
                            </li>
                            <li>
                                <a href="#slide2">2</a>
                            </li>
                            <li>
                                <a href="#slide3">3</a>
                            </li>
                            <li>
                                <a href="#slide4">4</a>
                            </li>
                            <li>
                                <a href="#slide5">5</a>
                            </li>
                            <li>
                                <a href="#slide6">6</a>
                            </li>
                            <li>
                                <a href="#slide7">7</a>
                            </li>
                            <li>
                                <a href="#slide8">8</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="slider__btn slider__btn--right" id="btn-right"></div>
                <div class="slider__btn slider__btn--left" id="btn-left"></div>
            </article>

        </section>

    </main>

    <footer>
        <div>
            <div class="contenedor-home">
                <span><strong><a href="/Nosotros#nosotros" target="blank">Quiénes Somos</a></strong></span>
                <span>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fas fa-at"></i>
                    <strong><a href="/Nosotros#contacto" target="blank">Contactanos</a></strong></span>
                <span><strong><a href="/Nosotros#acuerdo_legal" target="blank">Términos y
                            condiciones</a></strong></span>
                <span><strong><a href="/Nosotros#defensa" target="blank">Ayuda</a></strong></span>
                <span id="logo-footer">
                    <a href="/"><img src="/img/Logo.png" width="50%" height="auto"></a>
                </span>
            </div>
        </div>
    </footer>

</body>

</html>