<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-hm.css">
    <link rel="icon" href="/public/img/Logo.png">
    <title>Document</title>
</head>

<body class="error-404">
    <div class="logo">
        <img class="logo-error" src="/img/error 404.png" alt="Error" width="10px">
    </div>
    <h1 class="error-text">Ups! Lo sentimos, la pagina que busca no existe :)</h1>
</body>
</html>