<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road Tripping</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header></header>
    <main>

        <div class="container">

            <ul class="slider">
                <li id="slide1">
                    <img src="./img/Precio-Promo1-Bariloche.png" />
                </li>
                <li id="slide2">
                    <img src="./img/Precio-Promo2-Ushuaia.png" />
                </li>
                <li id="slide3">
                    <img src="./img/Precio-Promo3-Calafate.png" />
                </li>
                <li id="slide4">
                    <img src="./img/Precio-Promo4-Mendoza.png" />
                </li>
                <li id="slide5">
                    <img src="./img/Precio-Promo5-Jujuy.png" />
                </li>
            </ul>

            <ul class="menu">
                <li>
                    <a href="#slide1">1</a>
                </li>
                <li>
                    <a href="#slide2">2</a>
                </li>
                <li>
                    <a href="#slide3">3</a>
                </li>
                <li>
                    <a href="#slide4">4</a>
                </li>
                <li>
                    <a href="#slide5">5</a>
                </li>
            </ul>
        </div> 
    </main>
    <footer>
        <div class="color-fondo">
            <div class="contenedor">
                <span><strong><a href="" target="blank">Quienes Somos</a></strong></span>
                <span><strong><a href="" target="blank">Contactanos</a></strong></span>
                <span><strong><a href="" target="blank">Terminos y condiciones</a></strong></span>
                <span><strong><a href="" target="blank">Ayuda</a></strong></span>
                <span>
                    <img src=img/logo.png width="50%" height="auto"></span>
            </div>
        </div>

    </footer>
</body>

</html>