<footer>
    <div>
        <div class="contenedor-home">
            <span><strong><a href="/Nosotros#nosotros" target="blank">Quiénes Somos</a></strong></span>
            <span>
                <i class="fab fa-whatsapp"></i>
                <i class="fas fa-at"></i>
                <strong><a href="/Nosotros#contacto" target="blank">Contactanos</a></strong></span>
            <span><strong><a href="/Nosotros#acuerdo_legal" target="blank">Términos y
                        condiciones</a></strong></span>
            <span><strong><a href="/Nosotros#defensa" target="blank">Ayuda</a></strong></span>
            <span id="logo-footer">
                <a href="/"><img src="/img/Logo.png" width="50%" height="auto"></a>
            </span>
        </div>
    </div>
</footer>