<Header>
    <!--                                -->
    <div class="upper-head">
        <div class="logo">
            <a href="/"><img class="logo-img" src="./img/Logo.png" alt="Logo"></a>
        </div>
        <!--                                -->
        <div class="fav-car-user">
            <div class="user-grid">
                <span class="fav"><i class="fas fa-heart"></i></span>
                <span class="basket"><a href="product/shopping"><i class="fas fa-shopping-basket"></i></a></span>
                <span class="user"><a href="/user/preregistro">

                    <% if(userLocals) { %>
                        <img src="/img/whatsapp.png" width="15px" height="15px" alt="Avatar">
                    <% } else { %>      
                        <i class="fas fa-user"></i>
                    <% } %>
                     
                </a></span>
            </div>
        </div>
    </div>
    <!--                                -->
    <div class="lower-head">
        <div class="flex-arrange">
            <form action="POST" class="buscador">
                <input type="text" name="elemento" id="elemento" placeholder="Buscar articulo individual">
                <button type="submit"> <i class="fas fa-search"></i></button>
            </form>
        </div>
        <!--                                -->
        <div class="boton-estrella">
            <div class="huge">
                <span class="texto-2"> Inicio - </span>
                <a href="/"><i class="fas fa-home"></i></a>
                <span class="texto-2">Paquetes - </span>
                <a href="/product/Detail"><i class="fas fa-suitcase-rolling"></i></a>
                <span class="texto-2">Boletos - </span>
                <a href="/product/Detail"><i class="fas fa-ticket-alt"></i></a>
                <span class="texto-2">Hoteles - </span>
                <a href="/product/Detail"><i class="fas fa-hotel"></i></a>
                <span class="texto-2">Info</span>
                <a href="/Nosotros"><i class="fas fa-info-circle"></i></a>
            </div>
            <div class="tiny">
                <a href=""><i class="fa-solid fa-angles-down"></i></a>
            </div>

        </div>
    </div>
    <!--                                -->
</Header>