<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear</title>
    <script src="https://kit.fontawesome.com/755d7f60e5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/styles-ce2.css">
    <link rel="icon" href="/img/Logo2.png">
</head>

<body>
    <header class="ingresar">
        <div id="imagen-login">
            <a href="/crear-editar"><img class="mini-logo" src="/img/Logo.png" alt="" width="200px"></a>
            <i class="fa-solid fa-user-gear"></i>
        </div>
    </header>

    <main class="main">

        <div class="mySlides">
            <div class="contenedor">

                <form action="/admin/1" method="POST">

                <article class="articulos">

                    <div class="first">
                        <label for="titulo">Título</label>
                        <span>(Opcional)</span>
                            <input type="text" placeholder="Por defecto - Viaje a <destino>">
                    </div>

                </article>

                <article class="articulos">

                    <div class="second">
                        <label for="destino">Destino</label>
                            <select id="destino" name="destino">
                                <option value="...">...</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Brasil">Brasil</option>
                                <option value="Chile">Chile</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Costa_Rica">Costa Rica</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="El_Salvador">El Salvador</option>
                                <option value="Guatemala">Guatemala</option>
                                <option value="Honduras">Honduras</option>
                                <option value="Mexico">México</option>
                                <option value="Nicaragua">Nicaragua</option>
                                <option value="Panama">Panamá</option>
                                <option value="Paraguay">Paraguay</option>
                                <option value="Peru">Perú</option>
                                <option value="República_Dominicana">República Dominicana</option>
                                <option value="Uruguay">Uruguay</option>
                                <option value="Venezuela">Venezuela</option>
                            </select>
                    </div>

                </article>

                <article class="articulos">

                    <div class="third">
                        <label for="fechas">Fecha</label>

                        <div class="primera-fecha">
                            <label class="desde">Desde</label>
                            <input name="from" class="desde" type="date">
                        </div>

                        <div class="segunda-fecha">
                            <label class="hasta">Hasta</label>
                        <input name="to" class="hasta" type="date">
                        </div>
                        
                    </div>

                </article>

                <article class="articulos">

                    <div class="controles">
                        <button class="w3-button w3-light-grey"><a href="/admin/crear-editar">Atras</a></button>
                        <button type="submit" class="w3-button w3-light-grey"><a href="/admin/crear-2">Siguiente</a></button>
                    </div>

                </article>

                </form>

            </div>
        </div>

    </main>