<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear / Editar</title>
    <script src="https://kit.fontawesome.com/755d7f60e5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles-ce2.css">
    <link rel="icon" href="/img/Logo2.png">
</head>

<body>
    <header class="ingresar">
        <div id="imagen-login">
            <img class="mini-logo" src="/img/Logo.png" alt="" width="200px">
            <i class="fa-solid fa-user-gear"></i>
        </div>
    </header>

    <main>
        <div class="options">
            <section class="create">
                <a href="/admin/crear">
                    <h2>Creación de un <br>nuevo producto</h2>
                </a>
            </section>

            <section class="edit">
                <a href="/admin/editar">
                    <h2>Edición de un <br>producto existente</h2>
                </a>
            </section>
        </div>
    </main>
</body>