<!DOCTYPE html>
<html lang="en">

<head>
        <!--Dependencias-->
        <%- include("../partials/head") %>
        <!--Dependencias-->

        <title>RoadTripping</title>
        <link rel="stylesheet" href="/css/styles-hm.css">
        <link rel="stylesheet" href="/css/styles-shared.css">
        <link rel="icon" href="/img/Logo2.png">

        

</head>

<body>
    <!-- Header -->
    <%- include("../partials/header")%>
    <!-- Header -->

        <main>

            <section class="background-video">
                <div>
                    <video autoplay="true" loop="true" width="100%" height="60%">
                        <source src="/vid/backgroundV1.5 (online-video-cutter.com)V4.mp4">
                        Sorry, your browser does not support HTML5 video.
                    </video>
                </div>
            </section>

            <section class="buscador">
                <form action="">
                    <input type="text" id="busqueda" name="item" placeholder="Buscar en nuestro catalogo">
                </form>
            </section>

        <!--
            <section class="promo-carousel">
                <h2>Promos!!</h2>
                <article class="carousel">
                    <div class="container-slider">
                        <div class="container">
                            <ul class="slider">
                                <li id="slide1">
                                    <img src="/img/Bariloche/Bariloche1 Letras.jpg" />
                                </li>
                                <li id="slide2">
                                    <img src="/img/Ushuaia/Ushuaia2.jpg" />
                                </li>
                                <li id="slide3">
                                    <img src="/img/Bariloche/Bariloche3 Pueblo.jpg" />
                                </li>
                                <li id="slide4">
                                    <img src="/img/Ushuaia/Ushuaia3.jpg" />
                                </li>
                                <li id="slide5">
                                    <img src="/img/Bariloche/Bariloche4 Noche.jpg" />
                                </li>
                                <li id="slide6">
                                    <img src="/img/Ushuaia/Ushuaia5.jpg" />
                                </li>
                                <li id="slide7">
                                    <img src="/img/Bariloche/Bariloche7 catedral invierno.jpg" />
                                </li>
                                <li id="slide8">
                                    <img src="/img/Ushuaia/Ushuaia7.jpg" />
                                </li>
                            </ul>

                            <ul class="menu">
                                <li>
                                    <a href="#slide1">1</a>
                                </li>
                                <li>
                                    <a href="#slide2">2</a>
                                </li>
                                <li>
                                    <a href="#slide3">3</a>
                                </li>
                                <li>
                                    <a href="#slide4">4</a>
                                </li>
                                <li>
                                    <a href="#slide5">5</a>
                                </li>
                                <li>
                                    <a href="#slide6">6</a>
                                </li>
                                <li>
                                    <a href="#slide7">7</a>
                                </li>
                                <li>
                                    <a href="#slide8">8</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="slider__btn slider__btn--right" id="btn-right"></div>
                    <div class="slider__btn slider__btn--left" id="btn-left"></div>
                </article>

            </section>

            <section class="promo-carousel-2">
                <h2>Favoritos de los clientes!</h2>
                <article class="carousel">
                    <div class="container-slider">
                        <div class="container">
                            <ul class="slider">
                                <li id="slide1">
                                    <img src="/img/Bariloche/Bariloche1 Letras.jpg" />
                                </li>
                                <li id="slide2">
                                    <img src="/img/Ushuaia/Ushuaia2.jpg" />
                                </li>
                                <li id="slide3">
                                    <img src="/img/Bariloche/Bariloche3 Pueblo.jpg" />
                                </li>
                                <li id="slide4">
                                    <img src="/img/Ushuaia/Ushuaia3.jpg" />
                                </li>
                                <li id="slide5">
                                    <img src="/img/Bariloche/Bariloche4 Noche.jpg" />
                                </li>
                                <li id="slide6">
                                    <img src="/img/Ushuaia/Ushuaia5.jpg" />
                                </li>
                                <li id="slide7">
                                    <img src="/img/Bariloche/Bariloche7 catedral invierno.jpg" />
                                </li>
                                <li id="slide8">
                                    <img src="/img/Ushuaia/Ushuaia7.jpg" />
                                </li>
                            </ul>

                            <ul class="menu">
                                <li>
                                    <a href="#slide1">1</a>
                                </li>
                                <li>
                                    <a href="#slide2">2</a>
                                </li>
                                <li>
                                    <a href="#slide3">3</a>
                                </li>
                                <li>
                                    <a href="#slide4">4</a>
                                </li>
                                <li>
                                    <a href="#slide5">5</a>
                                </li>
                                <li>
                                    <a href="#slide6">6</a>
                                </li>
                                <li>
                                    <a href="#slide7">7</a>
                                </li>
                                <li>
                                    <a href="#slide8">8</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="slider__btn slider__btn--right" id="btn-right"></div>
                    <div class="slider__btn slider__btn--left" id="btn-left"></div>
                </article>

            </section>
            -->
            <section class="carrusel carrusel-1">
                <h3>Promos de temporada!</h3>    
                <%- include("../EJSComponents/carousels/Carousel_2") %>
            </section>
            
        </main>

        <!-- Footer -->
        <%- include("../partials/footer")%>
        <!-- Footer -->

        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous">
        </script>
</body>



</html>