<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-hm.css">
    <link rel="icon" href="/public/img/Logo.png">
    <title>Document</title>
</head>

<body class="error404">

    <div>
        <a href="/"><img src="/img/Logo.png" alt="" width="200px"></a>
    </div>

    <div class="imagen">
        <img class="img-error" src="/img/Error404.png" alt="Error" width="10px">
    </div>
    <div class="msg-error">
    <h1><%= message %></h1>
<h2><%= error.status %></h2>
</div>
<div class="msg-error2">
    <p>Ups! Lo sentimos, la página a la que intenta acceder no existe.</p>
</div>
   
</body>
</html>