<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuario</title>
    <link rel="Stylesheet" href="css/styles-si.css">
    <link rel="icon" href="/img/Logo2.png">
</head>
<<<<<<< HEAD:src/views/users/register.ejs
<header class="ingresar">
    <div id="imagen-login">
        <a href="/"><img src="/img/Logo.png" alt="" width="200px"></a>
=======

<header class="ingresar">
    <div id="imagen-login">
        <img src="/img/Logo.png" alt="" width="200px">
>>>>>>> lucas:src/views/user/register.ejs
    </div>
    <div class="header-login">
        <h1>Crea una nueva cuenta</h1>
        <h2>Unete a nuestra comunidad! Crea tu cuenta. ¿Ya tienes una? <a id="ingresa-aqui" href="/login"
                target="_blank">Ingresa aquí</a></h2>
    </div>
</header>

<body>
    <form action="#" method="post" class="register">
        <label for="Nombre"><strong></strong></label>
        <input type="text" placeholder="Nombre y Apellido" name="Nombre" id="Nombre">
        <label for="usuario"><strong></strong></label>
        <input type="text" placeholder="Nombre de Usuario" name="usuario" id="usuario">
        <label><strong></strong></label>
        <input type="text" placeholder="Fecha de Nacimiento" onfocus="(this.type='date')" name="cumpleaños"
            min="1900-01-01" max="2010-01-01" class="fechaNacimiento">
        <label for="domicilio" placeholder="Domicilio"><strong></strong></label>
        <input type="text" placeholder="Correo Electronico" name="email" id="email">
        <label for="password"><strong></strong></label>
        <input type="password" placeholder="Contraseña" name="password" id="password">
        <label for="confirm-pass"><strong></strong></label>
        <input type="password" placeholder="Confirmar contraseña" name="confirm-pass" id="confirm-pass">
        <button type="submit">
            <strong>Registrarse</strong>
        </button>
<<<<<<< HEAD:src/views/users/register.ejs
        <p class="terminos">Al crear la cuenta confirmo que he leído y aceptado los <a href="/Term&Cond">Terminos y
                condiciones</a> y la <a href="/Privacidad">Politica de privacidad</a></p>
=======
        <p class="terminos">Al crear la cuenta confirmo que he leído y aceptado los <a href="user/Term&Cond">Terminos y
                condiciones</a> y la <a href="user/Privacidad">Politica de privacidad</a></p>
>>>>>>> lucas:src/views/user/register.ejs
        <button type="reset" class="cancelbtn">
            Borrar
        </button>
    </form>
</body>

</html>