<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguridad</title>
    <link rel="icon" href="/img/Logo2.png">
    <link rel="Stylesheet" href="/css/styles-ud.css">
</head>
<header>
    <div class="header">
    <div>
        <a href="/"><img src="/img/Logo.png" alt="" width="200px"></a>
    </div>
        <div class="profile-picture">
            <img src="/img/user/profile-picture.png" alt="" width="10%">
            <a href="" class="editar-foto">EDITAR USUARIO</a>
        </div>
    </div>
    <br>
        <div class="topnav">
            <a href="/user/misdatos">MIS DATOS</a>
            <a href="/user/mismillas">MIS MILLAS</a>
            <a href="/user/miscompras">MIS COMPRAS</a>
            <a href="/user/favoritos">FAVORITOS</a>
            <a class="active">SEGURIDAD</a>
            <a href="/user/notificaciones">NOTIFICACIONES</a>
          </div>
</header>
<body>

</body>
</html>