<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Millas</title>
    <script src="https://kit.fontawesome.com/755d7f60e5.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/img/Logo2.png">
    <link rel="Stylesheet" href="/css/styles-ud.css">
</head>
<header>                                                                                  <!--COPIAR Y REEMPLAZAR HEADER'-->
    <div class="header">

        <div class="logo">
            <a href="/"><img src="/img/Logo.png" alt="" width="200px"></a>
        </div>

        <div class="user-picture-config">

            <div class="profile-picture">
                <i class="fa-solid fa-circle-user"></i>
                <a href="#" class="editar-foto">Editar foto</a>
            </div>

            <div class="sign-out">
                <p> -Nombre de usuario-</p>
                <a href="#" class="editar-foto">Cerrar Sesión</a>
            </div>
        </div>

    </div>
    <br>
    <div class="topnav">
        <a class="active">MIS DATOS</a>
        <a href="/user/mismillas">MIS MILLAS</a>
        <a href="/user/miscompras">MIS COMPRAS</a>
        <a href="/user/favoritos">FAVORITOS</a>
        <a href="/user/seguridad">SEGURIDAD</a>
        <a href="/user/notificaciones">NOTIFICACIONES</a>
    </div>                                                                               
</header> 

<body>
    <main>
        <p class="nivel">ESTAS EN EL NIVEL 1</p>
        <div class="promo-carousel">
                <p class="beneficios">BENEFICIOS POR TU NIVEL</p>
                <article class="carousel">
                    <div class="container-slider">
                        <div class="container">
                            <ul class="slider">
                                <li id="slide1">
                                    <img src="/img/Bariloche/Bariloche1 Letras.jpg" />
                                </li>
                                <li id="slide2">
                                    <img src="/img/Ushuaia/Ushuaia2.jpg" />
                                </li>
                                <li id="slide3">
                                    <img src="/img/Bariloche/Bariloche3 Pueblo.jpg" />
                                </li>
                                <li id="slide4">
                                    <img src="/img/Ushuaia/Ushuaia3.jpg" />
                                </li>
                                <li id="slide5">
                                    <img src="/img/Bariloche/Bariloche4 Noche.jpg" />
                                </li>
                                <li id="slide6">
                                    <img src="/img/Ushuaia/Ushuaia5.jpg" />
                                </li>
                                <li id="slide7">
                                    <img src="/img/Bariloche/Bariloche7 catedral invierno.jpg" />
                                </li>
                                <li id="slide8">
                                    <img src="/img/Ushuaia/Ushuaia7.jpg" />
                                </li>
                            </ul>

                            <ul class="menu">
                                <li>
                                    <a href="#slide1">1</a>
                                </li>
                                <li>
                                    <a href="#slide2">2</a>
                                </li>
                                <li>
                                    <a href="#slide3">3</a>
                                </li>
                                <li>
                                    <a href="#slide4">4</a>
                                </li>
                                <li>
                                    <a href="#slide5">5</a>
                                </li>
                                <li>
                                    <a href="#slide6">6</a>
                                </li>
                                <li>
                                    <a href="#slide7">7</a>
                                </li>
                                <li>
                                    <a href="#slide8">8</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="slider__btn slider__btn--right" id="btn-right"></div>
                    <div class="slider__btn slider__btn--left" id="btn-left"></div>
                </article>
        </div>
<div class="suma-puntos">
    <p>¡SUMA PUNTOS Y SUBI DE NIVEL!</p>
    <div class="descripcion">
        <ul>
            <li>COMPRA PROMOS 2X1:</li>
            <li>COMPRA CUPONES PARA SPA DE UN DIA:</li>
            <li>COMPRA ESCAPADAS DE FIN DE SEMANA:</li>
        </ul>
    </div>
    <div class="puntos">
        <ul>
            <li>30pts</li>
            <li>30pts</li>
            <li>100pts</li>
        </ul>
    </div>
</div>
    </main>
</body>

</html>