<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Datos</title>
    <link rel="icon" href="/img/Logo2.png">
    <link rel="Stylesheet" href="/css/styles-ud.css">
</head>
<header>
    <div class="header">
    <div>
        <a href="/"><img src="/img/Logo.png" alt="" width="200px"></a>
    </div>
        <div class="profile-picture">
            <img src="/img/user/profile-picture.png" alt="" width="10%">
            <a href="/user/misdatos" class="editar-foto">NOMBRE DE USUARIO</a>
        </div>
    </div>
    <br>
        <div class="topnav">
            <a class="active">MIS DATOS</a>
            <a href="/user/mismillas">MIS MILLAS</a>
            <a href="/user/miscompras">MIS COMPRAS</a>
            <a href="/user/favoritos">FAVORITOS</a>
            <a href="/user/seguridad">SEGURIDAD</a>
            <a href="/user/notificaciones">NOTIFICACIONES</a>
          </div>
</header>
<body>
    <div class="titulos">
    <h3>DATOS DE LA CUENTA</h3>
    <h3>TARJETAS</h3>
</div>
<DIV class="body">
    <p class="datos-cuenta">
        Datos de la cuenta
    </p>

    <p class="datos-cuenta">
        Tarjetas
    </p>
</DIV>
    <div class="titulos">
        <h3>DATOS PERSONALES</h3>
        <h3>DOMICILIO</h3>
    </div>
    <br>
    <div class="body">
    <p class="datos-cuenta">
        Datos Personales
    </p>
    
    <p class="datos-cuenta">
        Domicilios
    </p>
</div>
</body>
</html>