<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso de Privacidad</title>
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <section>
        <h1 style="text-align: center;"><strong>Aviso de Privacidad</strong></h1>
        <br>
        <p style="text-align:justify; text-justify:inter-word;">Empresa RoadTripping con residencia en Buenos Aires,
            Argentina, conforme a lo establecido en la Ley Federal de Protección de Datos en Posesión de Particulares,
            pone a disposición de nuestros clientes, proveedores, empleados y público en general, nuestro Aviso de
            Privacidad.</p>

        <p style="text-align:justify; text-justify:inter-word;">Los datos personales que nos proporciona son utilizados
            estrictamente en la realización de funciones propias de nuestra empresa y por ningún motivo serán
            transferidos a terceros.</p>

        <p style="text-align:justify; text-justify:inter-word;">A nuestros clientes les solicitamos los siguientes datos
            personales:
        <ul>
            <li>Nombre, teléfono, correo electrónico y domicilio para facilitar el proceso de contratación de nuestro
                servicio y/o compra de nuestros productos.</li>
            <li>Datos financieros como número de tarjeta de débito o crédito, nombre del titular, nombre de la
                institución bancaria, fecha de vencimiento y código de seguridad para efectuar los pagos de contratación
                y/o compra correspondientes.</li>
            <li> RFC para completar los datos de facturación y realizar el proceso en cuestión.</li>
        </ul>
        </p>

        <p style="text-align:justify; text-justify:inter-word;">A nuestros proveedores solicitamos los siguientes datos
            personales:
        <ul>
            <li>Nombre, teléfono, correo electrónico y domicilio para facilitar el proceso de contratación de servicio
                y/o compra de productos.</li>
        </ul>
        </p>

        <p style="text-align:justify; text-justify:inter-word;">A nuestros empleados solicitamos los siguientes datos
            personales:
        <ul>
            <li>Nombre, teléfono, correo electrónico, domicilio, fecha y lugar de nacimiento.</li>
            <li>Antecedentes laborales, puesto, sueldo y motivo de terminación laboral en los últimos cinco empleos.
            </li>
        </ul>
        </p>

        <p style="text-align:justify; text-justify:inter-word;">En caso de realizar modificaciones al presente Aviso de
            Privacidad, le informaremos mediante correo electrónico, nuestro sitio web oficial, medios impresos y
            nuestros operadores telefónicos.</p>
        <br>
        <p style="text-align:center; text-justify:inter-word;"><em>Usted ha aceptado estos acuerdos de privacidad en el
                periodo de creación de usuario en la página RoadTripping</em></p>
    </section>
</body>